@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .navLink {
    @apply flex cursor-pointer items-center p-2 text-sm font-normal text-gray-900 rounded-md dark:text-neutral-300 hover:bg-gray-100 dark:hover:bg-neutral-800
  }
  .navLinkIcon {
    @apply h-5 text-gray-500 transition duration-75 dark:text-neutral-400 group-hover:text-gray-900 dark:group-hover:text-white
  }
  .selectedBox {
    @apply fixed transition-all shadow-md border dark:border-neutral-700 text-white border-gray-200 flex p-4 bottom-10 items-center mx-auto text-center rounded-md dark:bg-neutral-800 bg-gray-100
  }
}
